@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    text-align: center;
    border: black 5px solid;
    padding: 5em;
    
}

h2{
    background-color: black;
    color: white;
    width: 300px;
    border: 2px solid blue;
    cursor: pointer;
}